@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


:root {
    --GRID-COLUMNS: 4;
    --GRID-ROWS: 3;
    --BORDER-RADIUS: 25px;
    --BOX-SIZE: 135px;
    --GAP: 30px;
    
    /* Colors */

    --BORDER-COLOR: #e3e2e4;
    --COLOR: rgb(67, 56, 71);
    --DESCRIPTION-COLOR: #89858b;
    --TEXT-COLOR: #565656;
    --BACKGROUND-COLOR: #fff;
    --BOX-SHADOW-COLOR: rgba(0, 0, 0, 0.15);
    --BTN-SHADOW-COLOR: rgba(0, 0, 0, 0.2);
    --IMG-SHADOW-COLOR: rgba(0, 0, 0, 0.3);
    --HOVER-COLOR: #ff6dd81f;
    --HOVER-SHADOW-COLOR: rgba(217, 17, 220, 0.5);
}

body {
    background-color: var(--BACKGROUND-COLOR);
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 60px 60px;
    color: var(--COLOR);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}


.return-btn {
    display: flex;
    border: 1px solid var(--BORDER-COLOR);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 25px 30px;
    font-size: 20px;
    width: fit-content;
    box-shadow: 0 0 15px var(--BTN-SHADOW-COLOR);
    transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    align-items: center;

}

.arrow {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    display: block;
    font-style: normal;
    font-size: 20px;
    margin-right: 7px;
}

.projects {
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 80%;
}

.project-box {
    margin: 70px 30px;
    border-radius: var(--BORDER-RADIUS);
    border: 1px solid var(--BORDER-COLOR);
    box-shadow: 0 0 5px var(--BOX-SHADOW-COLOR);
    padding: 40px;
    transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000)
}

a:any-link {
    text-decoration: none;
    color: var(--COLOR);
}

a:hover, a:active {
    color: #000000;
}




/* Global Animations */
.btn:hover{
    background-color: var(--HOVER-COLOR);
    transition-property: background-color, transform, box-shadow;
    transition-duration: 0.3s;
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--HOVER-SHADOW-COLOR);
    border: 1px solid var(--HOVER-COLOR);
}

.project-box:hover {
    transition-property: transform, box-shadow;
    transition-duration: 0.6s;
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--HOVER-SHADOW-COLOR);
}


/* Media Queries */


@media screen and (max-width: 1260px) and (min-width: 511px) {

    main {
        padding: 25px;
    }

    .projects {
        width: 90%;
    }
    
    .project-box {
        font-size: 13px;
        margin: 30px 30px 60px;
    }

    .return-btn {
        font-size: 18px;
    }
}


@media screen and (max-width: 510px) {
    main {
        padding: 15px;
    }

    .project-box {
        font-size: 10px;
        margin: 30px 30px 30px;
    }
    .projects {
        width: 100%;
    }

    .return-btn {
        font-size: 15px;
    }
}



@media (prefers-color-scheme: dark) {
    :root {
        --BORDER-COLOR: #3e3c3c;
        --COLOR: #ffffff;
        --DESCRIPTION-COLOR: #bdb9bc;
        --TEXT-COLOR: #f0e9e9;
        --BACKGROUND-COLOR: #281f2b;
        --BOX-SHADOW-COLOR: rgba(199, 120, 226, 0.15);
        --BTN-SHADOW-COLOR: rgba(149, 97, 148, 0.2);
        --IMG-SHADOW-COLOR: rgba(198, 144, 199, 0.3);
        --HOVER-COLOR: #754378c9;
        --HOVER-SHADOW-COLOR: rgba(218, 49, 231, 0.597);
    }

    a:any-link {
        color: var(--COLOR);
    }

    
}


